<button class="btn btn-danger" id="closeInterviewFrom">close Form</button>
<h2 class="mt-2" style="text-align: center;">Add Interview</h2>
<form action="/Interview/addInterview" class="addForm" method="post">
    <input type="text" name="companyName" placeholder="Enter Company Name" required><br>
    <input type="date" name="date" required>
    <button type="submit" class="formSubmitBtn btn btn-primary" style="margin-top: 30px;">Add Company</button>
</form>